<div class="right-section">
    <div class="card user-details shadow">
        <h5 class="card-title mx-auto mt-3"><%= currentUser.firstname %> <%= currentUser.lastname %></h5>
            <img class="card-img-top mx-auto rounded-circle" id="PP" style="width: 7rem; height: 7rem;"
            src="<%= currentUser.profilePicture || 'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6aaef60f-6422-4738-88fd-2cde9cf85990/dcazeou-a5e1fa9d-ef6e-4112-ad04-bdf5d982f6e3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNmFhZWY2MGYtNjQyMi00NzM4LTg4ZmQtMmNkZTljZjg1OTkwXC9kY2F6ZW91LWE1ZTFmYTlkLWVmNmUtNDExMi1hZDA0LWJkZjVkOTgyZjZlMy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.S4W12cw1wJyzA6SoaXH-ICh09Xd_Xiwphx3yOoT2g1w' %>"
            alt="Card image cap">
        <button class="btn btn-warning" id="edit">Edit</button>

        <form action="/edit?_method=PUT" enctype="multipart/form-data" method="POST" id="uploadForm" style="display: none;" class="mr-3">
                <input type="file" class="my-3" name="profilePicture" placeholder="Photo" accept="image/*" required>
                <button type="submit" class="btn btn-success">Done</button>
                <button type="reset" id="cancel" class="btn btn-danger">Cancel</button>
        </form>
        <hr class="mx-auto" style="width:80%;">
        <div class="card-body">
            <p><i class="fas fa-address-card ml-2"></i><%= currentUser.position %> </p>
            <p><i class="fas fa-building ml-2"></i><%= currentUser.branch %></p>
            <p><i class="fa fa-users ml-2"></i><%= currentUser.committee %></p>
            <p><i class="fa fa-graduation-cap ml-2"></i><%= currentUser.degree %></p>
        </div>
    </div>
    <div class="card left-nav shadow">
        <div class="list-group" id="leftNav">
            <a href="/tasks/newtask" id="newTaskButton" class="list-group-item list-group-item-action">
                <i class="far fa-plus-square ml-2 fa-lg"></i>مهمة جديدة</a>
            <a href="/tasks/takenTasks" id="takenTasksButton" class="list-group-item list-group-item-action">
                <i class="fas fa-tasks ml-2 fa-lg"></i></i>المهمات المطلوبة</a>
            <a href="/tasks/givenTasks" id="givenTasksButton" class="list-group-item list-group-item-action">
                <i class="fas fa-tasks ml-2 fa-lg"></i></i>المهمات المعطاة</a>
            <!-- <a href="#"
                class="list-group-item list-group-item-action list-group-item-secondary disabled" tabindex="-1"
                aria-disabled="true">
                <i class="far fa-calendar-check fa-lg ml-2"></i>الاحداث</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" tabindex="-1"
                aria-disabled="true">
                <i class="far fa-calendar-check fa-lg ml-2"></i>الخطة</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary disabled" tabindex="-1"
                aria-disabled="true">
                <i class="fas fa-chart-bar fa-lg ml-2"></i>احصائيات</a> -->
        </div>
    </div>
</div>